*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: bisque;
}
header{
    display: block;
    background-color:blueviolet;
}

a{
    background-color: blueviolet;
    text-decoration: none;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

nav ul{
    background-color: blueviolet;
}

header h1{
    background-color: blueviolet;
}

nav li{
    display:inline;
    font-size: 25px;
    padding-right: 20px;
    background-color: blueviolet;
    text-decoration: none;
}

nav li:hover{
    font-size: 35px;
    
}

.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: blueviolet;
    width: 100%;
}

footer a{
    margin-top: 15px;
}

footer a:hover{
    font-size: 25px;
}
footer p{
    background-color: blueviolet;
}
.imgSmall{
    height: 300px;
    width:300px;
    
}

.imgBig{
    height:500px;
    width: 500px;
}

/* #imgHead{
    height:546px;
    width:820.5px;
} */

main{
    display: flex;
    flex-wrap: wrap;
}
main p{
    /* margin-left: 200px;
    margin-right: 200px; */
    display: flex;
    flex-wrap: wrap;
}

aside:hover{
    background-color: white;
}
figure img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


.container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}


 .container1{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    /* height:546px; */
    width:75%;
    flex-shrink:2 ;
}

.container1 .btn {
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    border-radius: 5px; 
    bottom: 20px;
    left: 50px;
    height: 100px;
    width: 200px;
  }
  
  .container1 .btn:hover {
    background-color: white; 
    color: black;
  } 

.container2{
    position: relative;
    width:50%;
    /* justify-content: space-evenly; */

}


.container2 .btn {
    position: absolute;
   
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    border-radius: 5px;
    top: 75px;
    right: 225px;
    height: 100px;
    width: 200px;
    }
  
.container2 .btn:hover {
    background-color: white; 
    color: black;
  } 

.projects{
    flex:4;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
 /*
   .container3{
    height: 500px;
    width: 500px;
    align-items: center;
   
}  

/* .container3 .img{
    height: 600px;
    width: 600px;
} */

 .grid{ 
   
    display: flex;  
    align-items: center;
 }

   



 
.padding{
    background-color: blueviolet;
    padding: 15px;
}

.paddingImg{
    background-color: blueviolet;
    padding: 25px;

}

.padding:hover{
    background-color:goldenrod;
}

.paddingBottom{
    padding-bottom: 50px;
}


  
   

  @media screen and (max-width: 992px) {

    
  }

  @media screen and (max-width: 768px) {
    main,   
    nav li{
    flex-direction:column;
    }

    .projects{
        flex-direction: column;
    }
    
    
}