*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: bisque;
}
header{
    display: block;
    background-color:blueviolet;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}

nav ul{
    background-color: blueviolet;
}

header h1{
    background-color: blueviolet;
}

nav li{
    display:inline;
    font-size: 25px;
    padding-right: 20px;
    background-color: blueviolet;
    text-decoration: none;
}

img{
    height: 300px;
    width:300px;
}



.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}

.container1{
    height: 25%;
    width: 75%;
    text-align: center;
}

.container2{
    height: 100%;
    width: 25%;
    text-align: right;
}

footer{
    display: flex;
    flex:wrap;
    justify-content:space-around;
    background-color: blueviolet;
}

footer p{
    background-color: blueviolet;
}

.padding{
    background-color: blueviolet;
    padding: 15px;
}

